<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCR</title>
    <meta name="description" content="{{site.description}}">
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="icon" type="image/svg+xml" href="/public/Logo.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="manifest" href="/public/site.webmanifest">
    <link rel="stylesheet" href="/style.css">
</head>
<body class="h-svh w-full flex flex-col gap-2">
    <header class="flex flex-row w-full border-b border-slate-900 fixed backdrop-blur">
        <div class="flex flex-row max-w-[1024px] mx-auto w-full justify-between text-center gap-2 py-1 sm:py-5 px-2">
            <a href="#" class="text-xl font-bold my-auto">DCR</a>
            <div class="sm:flex flex-row gap-4 hidden">
                <a href="#info" class="hover:text-blue-500">{{nav.info}}</a>
                <a href="#install" class="hover:text-blue-500">{{nav.install}}</a>
                <a href="#commands" class="hover:text-blue-500">{{nav.commands}}</a>
                <a href="#example" class="hover:text-blue-500">{{nav.example}}</a>
            </div>
            <div id="mobile-header-trigger" class="flex flex-col sm:hidden">
                <button id="mobile-header-open" class="p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" class="injected-svg" data-src="https://cdn.hugeicons.com/icons/menu-01-stroke-rounded.svg?v=1.0.1" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" color="#FFFFFF">
                        <path d="M4 5L20 5" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M4 12L20 12" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M4 19L20 19" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
            </div>
        </div>
    </header>
    <div id="mobile-menu" class="fixed inset-0 hidden sm:hidden flex-col text-center w-full h-screen backdrop-blur z-50">
        <div class="w-full flex flex-row justify-between py-1 px-2">
            <span class="text-xl font-bold my-auto">DCR</span>
            <button id="mobile-header-close" class="p-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" class="injected-svg" data-src="https://cdn.hugeicons.com/icons/cancel-01-stroke-rounded.svg?v=1.0.1" xmlns:xlink="http://www.w3.org/1999/xlink" role="img" color="#FFFFFF">
                    <path d="M18 6L6.00081 17.9992M17.9992 18L6 6.00085" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </button>
        </div>
        <a href="#info" class="hover:text-blue-500 w-full p-4 border-y border-slate-800 text-2xl">{{nav.info}}</a>
        <a href="#install" class="hover:text-blue-500 w-full p-4 border-y border-slate-800 text-2xl">{{nav.install}}</a>
        <a href="#commands" class="hover:text-blue-500 w-full p-4 border-y border-slate-800 text-2xl">{{nav.commands}}</a>
        <a href="#example" class="hover:text-blue-500 w-full p-4 border-y border-slate-800 text-2xl">{{nav.example}}</a>
    </div>
    <main class="flex-1 flex flex-col w-full pt-16 ">
        <div class="flex flex-col w-full">
            <div class="py-16 px-2 max-w-[720px] w-full mx-auto flex flex-col gap-4">
                <span class="text-blue-500 font-bold">{{hero.badge}}</span>
                <h1 class="text-5xl font-bold">{{hero.title}}</h1>
                <p class="text-white/50">
                    {{hero.description}}
                </p>
                <div class="flex flex-row gap-4">
                    <a href="https://github.com/dexoron/dcr" class="px-6 py-2 bg-blue-500 text-black text-xl font-semibold rounded-lg hover:bg-blue-600">GitHub</a>
                    <a href="https://github.com/dexoron/dcr/blob/master/README.md" class="px-6 py-2 rounded-lg border border-slate-900 text-xl font-semibold hover:border-blue-500 hover:text-blue-500">{{hero.docs_button}}</a>
                </div>
            </div>

            <div id="info" class="py-16 px-2 flex sm:flex-row flex-col gap-4 justify-between max-w-[1024px] w-full mx-auto">
                <div class="flex flex-col gap-2">
                    <h2 class="text-2xl font-semibold">{{info.why.title}}</h2>
                    <ul class="list-disc list-inside">
                        <li>{{info.why.point1}}</li>
                        <li>{{info.why.point2}}</li>
                        <li>{{info.why.point3}}</li>
                    </ul>
                </div>
                <div class="flex flex-col gap-2">
                    <h2 class="text-2xl font-semibold">{{info.features.title}}</h2>
                    <ul class="list-disc list-inside">
                        <li>{{info.features.point1}}</li>
                        <li>{{info.features.point2}}</li>
                        <li>{{info.features.point3}}</li>
                    </ul>
                </div>
                <div class="flex flex-col gap-2">
                    <h2 class="text-2xl font-semibold">{{info.platforms.title}}</h2>
                    <ul class="list-disc list-inside">
                        <li>{{info.platforms.point1}}</li>
                        <li>{{info.platforms.point2}}</li>
                        <li>{{info.platforms.point3}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="install" class="bg-slate-900 flex flex-col w-full">
            <div class="py-16 px-2 max-w-[1024px] w-full mx-auto flex flex-col gap-4">
                <h2 class="text-2xl font-semibold">{{install.title}}</h2>
                <p>{{install.intro}}</p>

                <div class="flex flex-col w-full">
                    <div class="flex flex-row gap-4">
                        <button id="linux" class="border border-b-0 rounded-lg rounded-b-none border-slate-800 py-2 px-4 hover:bg-slate-800 bg-slate-800 font-semibold">GNU/Linux</button>
                        <button id="windows" class="border border-b-0 rounded-lg rounded-b-none border-slate-800 py-2 px-4 hover:bg-slate-800">Windows</button>
                        <button id="macos" class="border border-b-0 rounded-lg rounded-b-none border-slate-800 py-2 px-4 hover:bg-slate-800">macOS</button>
                    </div>

                    <div class="rounded-lg rounded-tl-none p-4 bg-slate-800 flex flex-col gap-4">
                        <pre id="install-shell" class="bg-slate-950 p-4 rounded-lg whitespace-pre-line">curl -fsSL https://raw.githubusercontent.com/dexoron/dcr/master/install.sh | bash</pre>
                    </div>
                </div>

                <p>{{install.test_intro}}</p>
                <pre class="bg-slate-950 p-4 rounded-lg whitespace-pre-line">
                    dcr --version
                </pre>
            </div>
        </div>

        <div id="commands" class="flex flex-col w-full">
            <div class="py-16 px-2 max-w-[1024px] w-full mx-auto flex flex-col gap-4">
                <h2 class="text-2xl font-semibold">{{commands.title}}</h2>
                <p>{{commands.intro}}</p>

                <table class="border-collapse border bg-slate-900 border-slate-800">
                    <thead class="bg-slate-800">
                        <tr>
                            <th class="p-2">{{commands.headers.command}}</th>
                            <th class="p-2">{{commands.headers.usage}}</th>
                            <th class="p-2">{{commands.headers.description}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border border-slate-800 p-2">dcr</td>
                            <td class="border border-slate-800 p-2">dcr</td>
                            <td class="border border-slate-800 p-2">{{commands.rows.help}}</td>
                        </tr>
                        <tr>
                            <td class="border border-slate-800 p-2">dcr new</td>
                            <td class="border border-slate-800 p-2">dcr new hello</td>
                            <td class="border border-slate-800 p-2">{{commands.rows.new}}</td>
                        </tr>
                        <tr>
                            <td class="border border-slate-800 p-2">dcr init</td>
                            <td class="border border-slate-800 p-2">dcr init</td>
                            <td class="border border-slate-800 p-2">{{commands.rows.init}}</td>
                        </tr>
                        <tr>
                            <td class="border border-slate-800 p-2">dcr build</td>
                            <td class="border border-slate-800 p-2">dcr build --release</td>
                            <td class="border border-slate-800 p-2">{{commands.rows.build}}</td>
                        </tr>
                        <tr>
                            <td class="border border-slate-800 p-2">dcr run</td>
                            <td class="border border-slate-800 p-2">dcr run --release</td>
                            <td class="border border-slate-800 p-2">{{commands.rows.run}}</td>
                        </tr>
                        <tr>
                            <td class="border border-slate-800 p-2">dcr clean</td>
                            <td class="border border-slate-800 p-2">dcr clean --release</td>
                            <td class="border border-slate-800 p-2">{{commands.rows.clean}}</td>
                        </tr>
                        <tr>
                            <td class="border border-slate-800 p-2">dcr --update</td>
                            <td class="border border-slate-800 p-2">dcr --update</td>
                            <td class="border border-slate-800 p-2">{{commands.rows.update}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="example" class="bg-slate-900 flex flex-col w-full">
            <div class="py-16 px-2 max-w-[1024px] w-full mx-auto flex flex-col gap-4">
                <h2 class="text-2xl font-semibold">{{example.title}}</h2>
                <p>{{example.intro}}</p>

                <div class="flex flex-col gap-2">
                    <h3 class="text-xl font-semibold">{{example.create.title}}</h3>
                    <p>{{example.create.desc}}</p>
                    <pre class="bg-slate-950 p-4 rounded-lg whitespace-pre-line">
                        dcr new hello
                    </pre>
                    <p>{{example.create.structure_label}}</p>
                    <pre class="bg-slate-950 p-4 rounded-lg whitespace-pre-line">
                        hello/
                        - src/
                        - - main.c
                        - dcr.toml
                    </pre>
                </div>

                <div class="flex flex-col gap-2">
                    <h3 class="text-xl font-semibold">{{example.build.title}}</h3>
                    <p>{{example.build.desc}}</p>
                    <pre class="bg-slate-950 p-4 rounded-lg whitespace-pre-line">
                        cd hello
                    </pre>
                    <p>{{example.build.command_label}}</p>
                    <pre class="bg-slate-950 p-4 rounded-lg whitespace-pre-line">
                        dcr build --release
                    </pre>
                    <p>{{example.build.structure_label}}</p>
                    <pre class="bg-slate-950 p-4 rounded-lg whitespace-pre-line">
                        hello/
                        - src/
                        - - main.c
                        - target/
                        - - release/
                        - - - main
                        - dcr.toml
                        - dcr.lock
                    </pre>
                </div>

                <div class="flex flex-col gap-2">
                    <h3 class="text-xl font-semibold">{{example.run.title}}</h3>
                    <p>{{example.run.intro}}</p>

                    <div class="flex flex-col gap-2">
                        <h4 class="font-semibold">{{example.run.first.title}}</h4>
                        <pre class="bg-slate-950 p-4 rounded-lg whitespace-pre-line">
                            dcr run --release
                        </pre>
                        <p>{{example.run.first.desc}}</p>
                    </div>

                    <div class="flex flex-col gap-2">
                        <h4 class="font-semibold">{{example.run.second.title}}</h4>
                        <pre class="bg-slate-950 p-4 rounded-lg whitespace-pre-line">
                            ./target/release/main
                        </pre>
                        <p>{{example.run.second.desc}}</p>
                    </div>
                </div>

                <p>{{example.outro}}</p>
            </div>
        </div>
    </main>

    <footer class="flex flex-row max-w-[1024px] mx-auto w-full py-5 px-2 justify-between">
        <span>&copy; Dexoron</span>
        <a href="https://github.com/dexoron/dcr">github.com/dexoron/dcr</a>
    </footer>

    <script src="/main.js"></script>
</body>
</html>
